.footer{
    padding-left: 3%;
    padding-top: 50px;
    
    height: 50vh;
    background: black;
    color: white;
    text-decoration: none;
   
}
.backtohome{
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: aliceblue; 
}
.footer-link{
    text-decoration: none;
    color: aliceblue;
}
p{
    text-align: center;
}

.back-to-top {
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    color: #fffdfd;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }
  
  .back-to-top:hover {
    color: #cab408;
    text-decoration: none;
    opacity: 1;
  }