.Shopping_basket{
    display: flex;
    flex-direction: row;
    margin: 20px;

    height: 400px;
}

.left{
    margin-left: 30px;

}

.left>p{
margin-bottom: 10px;
font-size: larger;


}

.btno{
    margin-top: 30px;
    background-color: #f0c14b;
    border-radius: 2px;
    height: 20px;
    width:100%;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color:#111;
}